@import "tailwindcss";

:root {
  --background: #f8f8f2;
  --foreground: #1d2921;

  --green-dark: #174d2a;
  --green-deep: #0f3d21;
  --green-main: #5d963f;
  --green-light: #eaf1e5;

  --soil: #8a6947;
  --cream: #f8f8f2;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

a {
  text-decoration: none;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #c9d8bf;
  color: #174d2a;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f8f8f2;
}

::-webkit-scrollbar-thumb {
  background: #a8b99d;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5d963f;
}